{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.config.js"
      }
    }
  },
  "rules": {
    "class-methods-use-this": "off",
    "react/forbid-prop-types": "off",
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "no-nested-ternary": "off",
    "react/prop-types": "off",
    "max-len": ["error", 150, 2, {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": false,
        "ignoreTemplateLiterals": false
      }
    ]
  }
}